!debian/*.install
!debian/*.postinst
!debian/changelog
!debian/compat
!debian/control
!debian/links
!debian/rules
!debian/source
.cargo/
**/*.rs.bk
debian/
gtk/ffi/examples/c/build
target/
vendor.tar
