[package]
name = "pop-upgrade"
version = "0.1.0"
authors = ["Michael Aaron Murphy <mmstickman@gmail.com>"]
edition = "2018"

[workspace]
members = [ "gtk", "gtk/ffi" ]

[dependencies]
apt-cli-wrappers = { git = "https://github.com/pop-os/apt-cli-wrappers" }
apt-fetcher = { git = "https://github.com/pop-os/apt-fetcher" }
apt-keyring = { git = "https://github.com/pop-os/apt-keyring" }
apt-sources-lists = { git = "https://github.com/pop-os/apt-sources-lists" }
async-fetcher = { git = "https://github.com/pop-os/async-fetcher" }
atomic = "0.4.5"
bitflags = "1.1.0"
clap = "2.33.0"
crossbeam = "0.7.2"
dbus = "0.6.4"
disk-types = "0.1.2"
distinst-chroot = { git = "https://github.com/pop-os/distinst/" }
distinst-disks = { git = "https://github.com/pop-os/distinst/" }
envfile = "0.2.1"
err-derive = "0.1.5"
fern = "0.5.8"
futures = "0.1.28"
libc = "0.2.62"
log = "0.4.8"
logind-dbus = "0.1.1"
md-5 = "0.8.0"
num-derive = "0.2.5"
num-traits = "0.2.8"
os-release = "0.1.0"
parallel-getter = "0.2.0"
partition-identity = "0.2.6"
proc-mounts = "0.2.2"
promptly = "0.1.5"
reqwest = "0.9.20"
serde = "1.0.99"
serde_derive = "1.0.99"
serde_json = "1.0.40"
sha2 = "0.8.0"
shrinkwraprs = "0.2.1"
sys-mount = "1.2.1"
sysfs-class = { git = "https://github.com/pop-os/sysfs-class" }
systemd-boot-conf = "0.1.0"
tempfile = "3.1"
tokio = "0.1.22"
tokio-process = "0.2.4"
ubuntu-version = "0.1.4"
yansi = "0.5.0"

[patch.crates-io]
sysfs-class = { git = "https://github.com/pop-os/sysfs-class" }

[features]
testing = []

[profile.release]
lto = true
