[package]
name = "pop-upgrade-gtk"
version = "1.0.0"
authors = ["Michael Aaron Murphy <mmstick@pm.me>"]
edition = "2018"

[dependencies]
apt-cmd = { git = "https://github.com/pop-os/apt-cmd/" }
better-panic = "0.2"
cascade = "1.0"
chrono = "0.4"
clap = "2"
derive_more = "0.99"
derive-new = "0.5"
enclose = "1"
fern = "0.6"
flume = "0.10.5"
fomat-macros = "0.3"
gio = "0.14"
glib = "0.14"
gtk = { version = "0.14", features = [ "v3_22" ] }
i18n-embed = { version = "0.13", features = ["fluent-system", "desktop-requester"] }
i18n-embed-fl = "0.6.0"
log = "0.4"
notify-rust = { version = "4.0", default-features = false, features = ["dbus"] }
num-traits = "0.2"
once_cell = "1.7"
os-release = "0.1"
pango = "0.14"
pop-upgrade = { path = "../" }
rust-embed = { version = "6.2", features = ["debug-embed"] }
shrinkwraprs = "0.3"
thiserror = "1.0"
ubuntu-version = "0.2.5"
upower_dbus = "0.1"
users = "0.11"
yansi = "0.5"
