[package]
name = "pop-upgrade-gtk"
version = "0.1.1"
authors = ["Michael Aaron Murphy <mmstick@pm.me>"]
edition = "2018"

[dependencies]
apt-cmd = { git = "https://github.com/pop-os/apt-cmd/" }
better-panic = "0.2"
cascade = "1.0"
chrono = "0.4"
clap = "2"
derive_more = "0.99"
derive-new = "0.5"
enclose = "1"
fern = "0.6"
flume = "0.10.5"
fomat-macros = "0.3"
gio = "0.9"
glib = "0.10"
gtk = { version = "0.9", features = [ "v3_22" ] }
i18n-embed = { version = "0.12.0", features = ["fluent-system", "desktop-requester"] }
i18n-embed-fl = "0.5.0"
log = "0.4"
notify-rust = "4.0"
num-traits = "0.2"
once_cell = "1.7"
os-release = "0.1"
pango = "0.9"
pop-upgrade = { path = "../" }
rust-embed = { version = "5.9.0", features = ["debug-embed"] }
shrinkwraprs = "0.3"
thiserror = "1.0"
ubuntu-version = "0.2.2"
upower_dbus = "0.1"
users = "0.11"
yansi = "0.5"