[package]
name = "pop-upgrade-gtk"
version = "0.1.0"
authors = ["Michael Aaron Murphy <mmstick@pm.me>"]
edition = "2018"

[dependencies]
apt-cli-wrappers = { git = "https://github.com/pop-os/apt-cli-wrappers" }
better-panic = "0.2"
cascade = "0.1"
chrono = "0.4"
clap = "2"
derive_more = "0.99"
derive-new = "0.5"
enclose = "1"
fern = "0.6"
fomat-macros = "0.3"
gio = "0.8"
glib = "0.9"
gtk = { version = "0.8", features = [ "v3_22" ] }
log = "0.4"
notify-rust = "3"
num-traits = "0.2"
os-release = "0.1"
pango = "0.8"
pop-upgrade = { path = "../" }
shrinkwraprs = "0.3"
thiserror = "1"
ubuntu-version = "0.2"
upower_dbus = "0.1"
users = "0.10"
yansi = "0.5"
