Source: pop-upgrade
Section: admin
Priority: optional
Maintainer: Michael Aaron Murphy <michael@system76.com>
Build-Depends:
  cargo (>=0.29),
  clang,
  debhelper-compat (=10),
  libclang-dev,
  libdbus-1-dev,
  libparted-dev,
  libparted-fs-resize0,
  libssl-dev,
  rustc (>=1.36)
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/upgrade

Package: pop-upgrade
Architecture: amd64 arm64
Depends:
  fdisk,
  pop-system-updater,
  pop-plymouth-theme,
  rsync,
  ${misc:Depends},
  ${shlibs:Depends}
Description: Utility for performing system upgrades on Pop!_OS

Package: ubuntu-release-upgrader-qt
Architecture: amd64 arm64
Description: Replaces do-release-upgrade with a help message.

Package: ubuntu-release-upgrader-gtk
Architecture: amd64 arm64
Description: Replaces do-release-upgrade with a help message.

Package: ubuntu-release-upgrader-core
Architecture: amd64 arm64
Description: Replaces do-release-upgrade with a help message.

Package: update-manager-core
Architecture: amd64 arm64
Description: Replaces do-release-upgrade with a help message.
Depends:
  ubuntu-release-upgrader-core (= ${binary:Version})

Package: python3-distupgrade
Architecture: amd64 arm64
Description: Replaces do-release-upgrade with a help message (transitional).

Package: python3-update-manager
Architecture: amd64 arm64
Description: Replaces do-release-upgrade with a help message (transitional).

Package: update-notifier
Architecture: amd64 arm64
Description: Replaces do-release-upgrade with a help message (transitional).

Package: update-notifier-common
Architecture: amd64 arm64
Description: Replaces do-release-upgrade with a help message (transitional).
