#!/usr/bin/make -f

VENDORED ?= 1
CLEAN ?= 1

%:
	dh $@ --with=systemd

override_dh_auto_clean:
ifeq ($(CLEAN),1)
	dh_auto_clean
endif
ifeq ($(VENDORED),1)
	if ! ischroot; then \
		rm -rf .cargo vendor vendor.tar.xz; \
		mkdir -p .cargo; \
		cargo vendor | head -n -1 > .cargo/config; \
		echo 'directory = "vendor"' >> .cargo/config; \
		tar pcfJ vendor.tar.xz vendor; \
		rm -rf vendor; \
	fi
endif

override_dh_auto_build:
ifeq ($(VENDORED),1)
	tar pxf vendor.tar.xz
endif
	dh_auto_build
