[Unit]
Description=Execute system updates early in the boot process
DefaultDependencies=no
Requires=sysinit.target dbus.socket
After=sysinit.target dbus.socket systemd-journald.socket
Before=shutdown.target system-update.target network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/lib/pop-upgrade/upgrade.sh
