[Unit]
Description=Execute system updates early in the boot process
DefaultDependencies=no
Requires=sysinit.target dbus.socket
After=sysinit.target dbus.socket systemd-journald.socket plymouth-start.service
Before=shutdown.target system-update.target

[Service]
Type=oneshot
ExecStart=/usr/lib/pop-upgrade/upgrade.sh
