[Unit]
Description=Execute system updates early in the boot process
DefaultDependencies=no
Requires=sysinit.target
After=sysinit.target system-update-pre.target systemd-journald.socket
Before=shutdown.target system-update.target pop-upgrade.service

[Service]
Type=oneshot
FailureAction=reboot
KillMode=none
ExecStart=/usr/lib/pop-upgrade/upgrade.sh
StandardOutput=append:/var/log/upgrade.log
StandardError=append:/var/log/upgrade.log
