[Unit]
Description=Pop Upgrade Daemon
After=network-online.target

[Service]
Type=dbus
BusName=com.system76.PopUpgrade
ExecStart=/usr/bin/pop-upgrade daemon
Restart=on-failure

[Install]
Alias=com.system76.PopUpgrade.service
WantedBy=multi-user.target