[Unit]
Requires=network.target graphical.target
Description=Pop Upgrade Daemon

[Service]
ExecStart=/usr/bin/pop-upgrade daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
